ul#listNavbar{
    display: flex;
    padding: auto 45px;
    margin: auto 100px;    
     
}
li{
    list-style-type: none;
}
.linkHeader{
    margin-left: 45px;
    margin-right: 45px;
}
#header{
    background-color: rgb(243, 165, 165);
    text-align: center;

}
a:-webkit-any-link{
    text-decoration: none;

}

#formsearch{
    margin-top: 16px;
    margin-left: 45px;
}

